<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>011_servlet_jsp_board</display-name>
    <context-param>
        <param-name>dbURI</param-name>
        <param-value>jdbc:postgresql://127.0.0.1:5432/postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserId</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserPw</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>boardManager</param-name>
        <param-value>com.github.melpis.board.manager.BoardManager</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>boardListServlet</display-name>
        <servlet-name>boardListServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardListServlet</servlet-class>
        <init-param>
            <param-name>viewName</param-name>
            <param-value>/board/list.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardListServlet</servlet-name>
        <url-pattern>/board/list.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>boardReadServlet</display-name>
        <servlet-name>boardReadServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardReadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardReadServlet</servlet-name>
        <url-pattern>/board/read.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>boardEditFormServlet</display-name>
        <servlet-name>boardEditFormServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardEditFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardEditFormServlet</servlet-name>
        <url-pattern>/board/edit_form.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BoardEditProcessServlet</display-name>
        <servlet-name>boardEditProcessServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardEditProcessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardEditProcessServlet</servlet-name>
        <url-pattern>/board/edit_process.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BoardRegistFormServlet</display-name>
        <servlet-name>boardRegistFormServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardRegistFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardRegistFormServlet</servlet-name>
        <url-pattern>/board/regist_form.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BoardRegistProcessServlet</display-name>
        <servlet-name>boardRegistProcessServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardRegistProcessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardRegistProcessServlet</servlet-name>
        <url-pattern>/board/regist_process.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>boardDeleteServlet</display-name>
        <servlet-name>boardDeleteServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardDeleteServlet</servlet-name>
        <url-pattern>/board/delete.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>boardEditServlet</display-name>
        <servlet-name>boardEditServlet</servlet-name>
        <servlet-class>com.github.melpis.board.servlet.BoardEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardEditServlet</servlet-name>
        <url-pattern>/board/edit.do</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.github.melpis.board.listener.ContextLoadListener</listener-class>
    </listener>
</web-app>