<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE_003_Servlet_Board_me</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>boardListServlet</display-name>
    <servlet-name>boardListServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardListServlet</servlet-name>
    <url-pattern>/board/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardRegistFormServlet</display-name>
    <servlet-name>boardRegistFormServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardRegistFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardRegistFormServlet</servlet-name>
    <url-pattern>/board/regist_form.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardRegistProcessServlet</display-name>
    <servlet-name>boardRegistProcessServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardRegistProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardRegistProcessServlet</servlet-name>
    <url-pattern>/board/regist_process.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardRemoveServlet</display-name>
    <servlet-name>boardRemoveServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardRemoveServlet</servlet-name>
    <url-pattern>/board/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardReadServlet</display-name>
    <servlet-name>boardReadServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardReadServlet</servlet-name>
    <url-pattern>/board/read.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardEditFormServlet</display-name>
    <servlet-name>boardEditFormServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardEditFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardEditFormServlet</servlet-name>
    <url-pattern>/board/edit_form.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardEditProcessServlet</display-name>
    <servlet-name>boardEditProcessServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.BoardEditProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardEditProcessServlet</servlet-name>
    <url-pattern>/board/edit_process.do</url-pattern>
  </servlet-mapping>
</web-app>