<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>013_servlet_jsp_attach_file</display-name>
  <context-param>
    <param-name>error</param-name>
    <param-value>/error/error.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>realPath</param-name>
    <param-value>c:/upload/</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>fileRegistServlet</display-name>
    <servlet-name>fileRegistServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.FileRegistServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/file/regist_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/file/regist_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileRegistServlet</servlet-name>
    <url-pattern>/file/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileListServlet</display-name>
    <servlet-name>fileListServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.FileListServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/file/list.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileListServlet</servlet-name>
    <url-pattern>/file/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileDeleteServlet</display-name>
    <servlet-name>fileDeleteServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.FileDeleteServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/file/delete.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDeleteServlet</servlet-name>
    <url-pattern>/file/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileDownloadServlet</display-name>
    <servlet-name>fileDownloadServlet</servlet-name>
    <servlet-class>com.github.melpis.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileDownloadServlet</servlet-name>
    <url-pattern>/file/download.do</url-pattern>
  </servlet-mapping>
</web-app>