<?xml version="1.0" encoding="UTF-8"?>
<webapp>
    <servlet>
        <url>list.jsp</url>
        <servlet-class>BoardListServlet</servlet-class>
    </servlet>

    <servlet>
        <url>read.jsp</url>
        <servlet-class>BoardReadServlet</servlet-class>
    </servlet>

    <servlet>
        <url>index.jsp</url>
        <servlet-class>IndexServlet</servlet-class>
    </servlet>

</webapp>