<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE_013_MBAC_Servlet_JSP_me</display-name>
  <context-param>
    <param-name>errorViewName</param-name>
    <param-value>/WEB-INF/jsp/error/error.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>sessionUserId</param-name>
    <param-value>sessionUserId</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>memberRegistServlet</display-name>
    <servlet-name>memberRegistServlet</servlet-name>
    <servlet-class>com.github.melpis.member.servlet.MemberRegistServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/WEB-INF/jsp/member/regist_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/member/regist_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberRegistServlet</servlet-name>
    <url-pattern>/member/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberLoginServlet</display-name>
    <servlet-name>memberLoginServlet</servlet-name>
    <servlet-class>com.github.melpis.member.servlet.MemberLoginServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/WEB-INF/jsp/member/login_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/member/login_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberLoginServlet</servlet-name>
    <url-pattern>/member/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberLogoutServlet</display-name>
    <servlet-name>memberLogoutServlet</servlet-name>
    <servlet-class>com.github.melpis.member.servlet.MemberLogoutServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>viewName</param-name>
      <param-value>/WEB-INF/jsp/member/logout_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberLogoutServlet</servlet-name>
    <url-pattern>/member/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberViewServlet</display-name>
    <servlet-name>memberViewServlet</servlet-name>
    <servlet-class>com.github.melpis.member.servlet.MemberViewServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>viewName</param-name>
      <param-value>/WEB-INF/jsp/member/view.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberViewServlet</servlet-name>
    <url-pattern>/member/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberEditServlet</display-name>
    <servlet-name>memberEditServlet</servlet-name>
    <servlet-class>com.github.melpis.member.servlet.MemberEditServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/WEB-INF/jsp/member/edit_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/member/edit_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberEditServlet</servlet-name>
    <url-pattern>/member/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardListServlet</display-name>
    <servlet-name>boardListServlet</servlet-name>
    <servlet-class>com.github.melpis.board.servlet.BoardListServlet</servlet-class>
    <init-param>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/board/list.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardListServlet</servlet-name>
    <url-pattern>/board/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardReadServlet</display-name>
    <servlet-name>boardReadServlet</servlet-name>
    <servlet-class>com.github.melpis.board.servlet.BoardReadServlet</servlet-class>
    <init-param>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/board/read.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardReadServlet</servlet-name>
    <url-pattern>/board/read.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardDeleteServlet</display-name>
    <servlet-name>boardDeleteServlet</servlet-name>
    <servlet-class>com.github.melpis.board.servlet.BoardDeleteServlet</servlet-class>
    <init-param>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/board/delete_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardDeleteServlet</servlet-name>
    <url-pattern>/board/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardEditServlet</display-name>
    <servlet-name>boardEditServlet</servlet-name>
    <servlet-class>com.github.melpis.board.servlet.BoardEditServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/WEB-INF/jsp/board/edit_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/board/edit_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardEditServlet</servlet-name>
    <url-pattern>/board/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardRegistServlet</display-name>
    <servlet-name>boardRegistServlet</servlet-name>
    <servlet-class>com.github.melpis.board.servlet.BoardRegistServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>formViewName</param-name>
      <param-value>/WEB-INF/jsp/board/regist_form.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>resultViewName</param-name>
      <param-value>/WEB-INF/jsp/board/regist_result.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardRegistServlet</servlet-name>
    <url-pattern>/board/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>attachfileDownloadServlet</display-name>
    <servlet-name>attachfileDownloadServlet</servlet-name>
    <servlet-class>com.github.melpis.attachfile.servlet.AttachfileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attachfileDownloadServlet</servlet-name>
    <url-pattern>/attachfile/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentListServlet</display-name>
    <servlet-name>commentListServlet</servlet-name>
    <servlet-class>com.github.melpis.comment.servlet.CommentListServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>viewName</param-name>
      <param-value>/comment/list.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentListServlet</servlet-name>
    <url-pattern>/comment/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentRegistServlet</display-name>
    <servlet-name>commentRegistServlet</servlet-name>
    <servlet-class>com.github.melpis.comment.servlet.CommentRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentRegistServlet</servlet-name>
    <url-pattern>/comment/regist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentDeleteServlet</display-name>
    <servlet-name>commentDeleteServlet</servlet-name>
    <servlet-class>com.github.melpis.comment.servlet.CommentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentDeleteServlet</servlet-name>
    <url-pattern>/comment/delete.do</url-pattern>
  </servlet-mapping>
  </web-app>